<style>
 .card-img-top{
    width: 517px;
    height: 300px;
    object-fit:cover;
 }
 
</style>
<div class="contain mb-2">
    <%- include ("./nav2") %>
    <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">
  
      <h4 class="card-title font-weight-bold ">
        <h2 class="text-success ">Celebrating Special Days</h2>
      </h4>
    </div>
  </div>
  <div class="container mt-5">
    <div class="card card-body">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="/assets/science.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">National Science Day</h5>
                  <p class="card-text">National Science Day held on date <b>[Feb,28,2022]</b></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/assets/engineers.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">engineers Day</h5>
                  <p class="card-text">engineers Day held on date <b>[sep,15,2022]</b></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/assets/yoga.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">International Yoga Day</h5>
                  <p class="card-text">International Yoga Day held on date <b>[Jun,21,2021]</b></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/assets/independence_day.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Indian Independence Day</h5>
                  <p class="card-text"> Indian Independence Day held on date <b>[Aug,15,2022]</b></p>
                </div>
              </div>
            </div>
            
           
          </div>
       


    </div>
  </div>
  </div>