<body>
  <div class="contain">
    <%- include ("./nav1") %>
  </div>

  <div class="container">
    
    <h3 class="text-info font-weight-bold text-center">WELCOME TO U.I.E.T PORTAL , USER <%= name %></h3>

    <div class="text-center">
      <img src="./../assets/uiet.gif" class="rounded w-100" alt="...">
    </div>
    <div class="contain mb-2 mt-2">
      <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">

        <h4 class="card-title font-weight-bold ">
          <h2 class="text-success ">INFORMATION ABOUT ACCRECITATION</h2>
        </h4>
      </div>
    </div>

   
      <h5 class="contain text-primary mt-4 font-weignt-bold mb-3">
        There are six on-campus hostels with the capacity of 1114 seats, of which two are Boys’ Hostels and four Girls’
        Hostels. The two Boys’ Hostels namely, Shivaji (400 pax) and Swarn Jayanti (200 pax) and Girls’ Hostels are
        Ganga (72 pax), Triveni (108 pax), Saraswati (218 pax), and Kaveri (116 pax) have two-seater and three-seater
        rooms.
      </h5>
      <div class="card-body">
        <h6 class="adity mb-3 mr-3 text-success">Benefits of Accreditation</h6>

        <p> >> Improves quality outcomes.</p>
        <p> >> Establishes facilities' commitment to higher standards and gives them a competitive edge.</p>
        <p> >> Provides processes for timely and accurate diagnosis and treatment.</p>
        <p> >> Collects metrics to ensure that processes meet clinical and financial goals.</p>
        <p> >> Decreases length of stay and improves the bottom line.</p>
      </div>
      <div class="col-md-12 ">
        <div class="comment mr-3">
          <div class="card border-light mb-3 shadow rounded">
            <div class="card-body">
              <h6 class="adity mt-4 mb-3 text-success"> Impact of Accreditation</h6>

              <p> >> Encourages quality improvement initiatives by Institutions.</p>
              <p> >> Improves student enrollment both in terms of quality and quantity.</p>
              <p> >> Helps the Institution in securing necessary funds.</p>
              <p> >> Enhances employability of graduates.</p>
              <p> >> Facilitates transnational recognition of degrees and mobility of graduates and professionals.</p>
              <p> >> Motivates faculty to participate actively in academic and related Institutional / departmental activities.</p>
              <p> >> Helps create sound and challenging academic environment in the Institution, andContributes to social and economic development of the country by producing high quality technical manpower.</p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="comment mr-3">
          <div class="card border-light mb-3 shadow rounded">
            <div class="card-body">
              <h6 class="adity mt-4 mb-3 text-success">Who Gets Accredited?</h6>
                <p> >> Individuals, courses, and institutions are not accredited. NBA only accredits programs in Engineering, Computer Application, Pharmacy, Management, Hotel Management and Catering Technology.</p>
                
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  