<style>
    a {
        color: black;
        font-weight: bolder;
    }
    a:hover{
        color: white;
    }
</style>
<div class="contain mb-2">
    <%- include ("./nav2") %>
    <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">
  
      <h4 class="card-title font-weight-bold ">
        <h2 class="text-success ">Feedback Forms</h2>
      </h4>
    </div>
  </div>
  <div class="container mt-4">
    <div class="card card-body">
      <%- include ("./messages") %>
          <div class="form-group">
            <div class="col mr-auto ml-auto text-center">
            <div class="feed-item active px-2 ">
                <a class="nav-link adi" href="feedback_student">Student Feedback Form</a>
            </div>
            <div class="feed-item active px-2">
                <a class="nav-link adi" href="feedback_parent">Parents Feedback Form</a>
            </div>
            <div class="feed-item active px-2">
                <a class="nav-link adi" href="feedback_alumni">Alumni Feedback Form</a>
            </div>
            <div class="feed-item active px-2">
                <a class="nav-link adi" href="feedback_employer">Employer Feedback Form</a>
            </div>
            <div class="feed-item active px-2">
                <a class="nav-link adi" href="feedback_teacher">Teacher Feedback Form</a>
            </div>
          </div>
    </div>
  </div>
  </div>