<style>
   .box{
            background: url('./../assets/img001.jpeg') no-repeat center center/cover;
            content: "";
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 1.0;
            padding: 30px 30px;
            color:black;
        }
      .para{
      color: black;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      text-align: justify;
      padding: 10px 80px;
      opacity: 1.5;

    }
    

</style>
<body>
  
    <div class="navbar navbar-dark bg-dark">
      <div class="container-fluid d-flex">
          <a class="navbar-brand" style="color: white;">WELCOME TO U.I.E.T. PORTAL</a>
          <form class="d-flex">
            <input class="form-control me-2 mx-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      </div>
    </div>
  
    <div class="box">
      <%- include ("./navbar") %>
      <p class="para">
        Accreditation is a process of quality assurance and improvement, whereby a programme in an approved Institution is critically appraised to verify that the Institution or the programme continues to meet and/or exceed the Norms and Standards prescribed by regulator from time to time. It is a kind of recognition which indicates that a programme or Institution fulfills certain standards.
      </p>
      <p class="para">
        Accreditation bodies are established in many economies with the primary purpose of ensuring that conformity assessment bodies are subject to oversight by an authoritative body. Accreditation bodies, that have been peer evaluated as competent, sign regional and international arrangements to demonstrate their competence. These accreditation bodies then assess and accredit conformity assessment bodies to the relevant standards.
      </p>
      
    </div>
    <div class="container">
     
      <!-- <%- include ("./messages") %>
        <h2 class="text-center mt-3">Welcome to UIET</h2>
        
          <div class="text-center">
          <img src="./../assets/uiet.gif" class="rounded w-100" alt="...">
          </div> -->
        <div class="adity mt-4">
         <h2 style="font-weight: bolder; text-align: center;">WHY ACCREDITATION ?</h2>
            <span>
              The purpose of the accreditation by NBA is to promote and recognize excellence in technical education in colleges and universities - at both the undergraduate and post graduate levels. Institutions, students, employers, and the public at large all benefit from the external verification of quality provided through the NBA accreditation process. They also benefit from the process of continuous quality improvement that is encouraged by the NBA's developmental approach to promote excellence in technical education. Through accreditation, the following main purposes are served:

            <div class="bi bi-box-arrow-right">
              
              Support and advice to technical institutions in the maintenance and enhancement of their quality of provision;
            </div>
            <div class="bi bi-box-arrow-right">
              confidence and assurance on quality to various stakeholders including students;
            </div>
            <div class="bi bi-box-arrow-right">
                assurance of the good standing of an Institution to government departments and other interested bodies;
            </div>
            <div class="bi bi-box-arrow-right">
              enabling an Institution to state publicly that it has voluntarily accepted independent inspection and has satisfied all the requirements for satisfactory operation and maintenance of quality in education.
            </div>
              
    </span>
        </div>
      </div>
 

    
  
</body>
    


