<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span><span class="navbar-toggler-icon ml-auto"></span>&nbsp Navbar</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active px-2">
        <a class="nav-link adi" href="dashboard">Home</a>
      </li>


      <li class="nav-item active px-2">
        <a class="nav-link adi" href="/user_admin_dashboard">Alloted to Faculty</a>
      </li>

      <li class="nav-item dropdown  ">
        <a class="nav-link adi dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown">
          Preparation of course file
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="nav-link adi " href="user_view_timetable">View Timetable </a>
          <a class="nav-link adi " href="user_view_syllabus">View Syllabus</a>
          <a class="nav-link adi " href="user_view_poco">View PO-CO</a>
          <a class="nav-link adi " href="user_view_mid">View Mid Sem Paper</a>
          <a class="nav-link adi " href="user_view_end">View End Sem Paper</a>
          <a class="nav-link adi " href="user_view_assignment">View Assignment</a>
        
        </div>
      </li>

      <li class="nav-item dropdown bg-dark">
        <a class="nav-link dropdown-toggle adi text-light" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Collection of Data
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">

          <a class="nav-link adi" href="/placement_record">Upload Placement Data</a>
          
          <a class="nav-link adi" href="/internship_record">Upload Internship Data</a>
          <a class="nav-link adi" href="/exam_record">Upload Competitive Exam Data</a>
          
        </div>
      </li>
      <li class="nav-item dropdown bg-dark">
        <a class="nav-link dropdown-toggle adi text-light" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Activities
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">

          <a class="nav-link adi" href="/user_view_slowlearner">View Slow Learner Activities</a>
          <a class="nav-link adi" href="/user_view_fastlearner">View Fast Learner Activities</a>
          <a class="nav-link adi" href="/view_faculty_as_student_mentor">View Faculty alloted to student Mentor</a>
          <a class="nav-link adi" href="feedback">Feedback Forms</a>
          <a class="nav-link adi" href="cultural_competition">Cultural Competition</a>
          <a class="nav-link adi" href="/Celebrate_special_day">Celebrating Special Day</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">

      <li class="nav-item active px-2">
        <a class="nav-link adi" href="User_profile">Profile</a>
      </li>

      <li class="nav-item active px-2">
        <a class="nav-link adi" href="logout">Logout</a>
      </li>
    </ul>
  </div>


</nav>