<div class="contain mb-2">
    <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">
  
      <h4 class="card-title font-weight-bold ">
        <h2 class="text-success ">Collection of Internship Data</h2>
      </h4>
    </div>
  </div>
  <div class="container mt-5">
    <div class="card card-body">
      <%- include ("./messages") %>
        <form action="/mentor" method="POST" >
            <div class="form-group">
                <label for="textarea">Alloted To:</label>
                <select class="form-select" aria-label="Default select example" name="name" id="textarea">
                  
                  
                  <% for(var i = (users.length-1); i>= 0 ; i--) { %>
                  <option value="<%=users[i].name %>"><%=users[i].name%></option>
                  <% } %>
                </select>
         
              </div>
            
          
          
  
            <button type="submit" class="btn btn-success btn-block my-2">
              Submit
            </button>
        </form>
    </div>
  </div>
  </div>